/*
** 各ページで共通の設定を記述する
*/

body {
    /*width: 1000px;*/
    /*margin: 0 auto;*/
    margin-top: 0;
    margin-bottom: 0;
    color: #3D445E;
}

/* ヘッダとか */

header {
    font-size: 15px;
    font-family: Times New Roman;
    background-color:#4EB4B0;
    color: #FFFFFF;
    height: 50px;
    /*margin-top: 10px;
    border-radius: 5px;*/
}

h2 {
    display: inline-block;
    border-left: solid 5px #4EB4B0;
    padding-left: 4px;
    border-bottom: solid 1px #4EB4B0;
}

h3 {
    display: inline-block;
    border-bottom: solid 1px #4EB4B0;
}

.title {
    float: left;
    font-size: 30px;
    padding-left: 10px;
    line-height: 50px;
}

.title a {
    text-decoration: none;
    color: white;
}

.contents ul {
    list-style: none;
    float: left;
    margin-top: 13px;
}

.contents ul li {
    font-size: 22px;

    float: left;
    text-align: center;
    padding: 0 30px;
    cursor: pointer;
}

.contents ul li a {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: all 1s;
}

.contents ul li a:hover {
    border-radius: 10px;
    /*background-color: #4EB4B0;
    color: #3D445E;*/
    color: #3D445E;
}

/* ページのメイン部分 */

.pageBody {
    margin: 0 20%;
}

.main h1 {
    font-size: 30px;
    font-family: Times New Roman;
    text-align: center;
}

.main p {
    font-size: 18px;
    font-family: Times New Roman;
}

/* フッタ */

footer {
    font-family: Times New Roman;
    color: white;
    background-color: #4EB4B0;
    /*border-radius: 5px;*/
    padding-left: 10px;
    line-height: 30px;    
}
