/*
** 各ページで共通の設定を記述する
*/

body {
    /*width: 1000px;*/
    margin: 0 auto;
    color: #3D445E;
}

header {
    font-size: 15px;
    font-family: Times New Roman;
    background-color:#4EB4B0;
    color: #FFFFFF;
    height: 50px;
    /*margin-top: 10px;
    border-radius: 5px;*/
}

.title {
    float: left;
    font-size: 30px;
    padding-left: 10px;
    line-height: 50px;
}

.title a {
    text-decoration: none;
    color: white;
}

.contents ul {
    list-style: none;
    float: left;
    margin-top: 13px;
}

.contents ul li {
    font-size: 22px;

    float: left;
    text-align: center;
    padding: 0 30px;
    cursor: pointer;
}

.contents ul li a {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: all 1s;
}

.contents ul li a:hover {
    border-radius: 10px;
    /*background-color: #4EB4B0;
    color: #3D445E;*/
    color: #3D445E;
}


.main {
    font-size: 30px;
    font-family: Times New Roman;
    text-align: center;
}


footer {
    font-family: Times New Roman;
    color: white;
    background-color: #4EB4B0;
    /*border-radius: 5px;*/
    padding-left: 10px;
    line-height: 30px;    
}
